{
  "env": {
    "test": {
      "plugins": [
        "require-context-hook",
        [
          "@babel/plugin-proposal-throw-expressions"
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-testid"
            ]
          }
        ]
      ]
    }
  },
  "presets": [
    "react-app"
  ]
}
